@use "bulma/sass/utilities" with (
  $family-primary: '-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"',
  $primary: #007044,
);


@use "bulma/sass/base";
@use "bulma/sass/themes";
@use 'bulma/sass/helpers';


@use 'bulma/sass/components/navbar';
@use 'bulma/sass/components/card';
@use 'bulma/sass/components/tabs';
@use 'bulma/sass/layout/container';
@use 'bulma/sass/elements/content';
@use 'bulma/sass/elements/image';
@use 'bulma/sass/elements/block';
@use 'bulma/sass/elements/button';
// @use 'bulma/sass/elements/other';
@use 'bulma/sass/elements/title';
@use 'bulma/sass/elements/tag';
@use 'bulma/sass/grid/columns';
@use 'bulma/sass/layout/section';
@use 'bulma/sass/layout/footer';
@use 'bulma/sass/layout/hero';

// @use 'bulma-timeline';
$primary:#007044;

.svg-icon {
    width: 1.5em;
    height: 1.5em;
  }
  
  .svg-icon path,
  .svg-icon polygon,
  .svg-icon rect {
    fill: #fff;
  }
  
  .svg-icon circle {
    stroke: #fff;
    stroke-width: 1;
  }